%form{ method: 'POST', action: '/sessions' }
	%section.chitblock
		%h2 Please enter your username and password
	%section.chitblock
		%title{ name: 'username' }
			Username:
		%input{ type: 'text', name: 'username', placeholder: 'username' }
	%section.chitblock
		%title{ name: 'password' }
			Password:
		%input{ type: 'password', name: 'password', placeholder: 'password' }
	%section.chitblock
		%input{ type: 'submit', value: 'Log me in' }
