-if flash[:errors] && !flash[:errors].empty?
	%ul.chitblock{class: 'errors'}
		-flash[:errors].each do |error|
			%li.error
				=error
-if flash[:notice]
	%div.chitblock{ id: 'notice' }
		=flash[:notice]
