%header
	%h1.chitblock Chitter
	-if current_user
		%section.chitblock.red
			%p Hi #{current_user.username}!
		%section.chitblock.gold
			%a{ href: '/chits/new' }
				New Chit
		%section.chitblock
			%form{ method: 'POST', action: '/sessions' }
				%input{ type: 'hidden', name: '_method', value: 'delete' }
				%input{ type: 'submit', value: 'Sign out' }
	-else
		%section.chitblock.red
			%a{href: "/users/new"}
				Sign up
		%section.chitblock.gold
			%a{href: "/sessions/new"}
				Log in
