%header
	%section.chitblock
		%h1
			%a{href: '/'}
				Chitter
	= partial :"partials/alerts"
	-if current_user
		%section.chitblock
			%p Hi #{current_user.username}!
		%section.chitblock
			%a{ href: '/chits/new' }
				New Chit
		%section.chitblock
			%form{ method: 'POST', action: '/sessions' }
				%input{ type: 'hidden', name: '_method', value: 'delete' }
				%input{ type: 'submit', value: 'Sign out' }
		= partial :"chits/new"
	-else
		%section.chitblock
			%a{href: "/users/new"}
				Sign up
		%section.chitblock
			%a{href: "/sessions/new"}
				Log in
