%form{ method: 'POST', action: '/users/new' }
	%section.chitblock
		%h2 Sign up to Chitter
	%section.chitblock
		%label{ name: 'username' }
			Username:
		%input{ name: 'username', type: 'text', value: "#{@user.username}", placeholder: "username" }
	%section.chitblock
		%label{ name: 'email' }
			Email:
		%input{ name: 'email', type: 'text', value: "#{@user.email}", placeholder: "email address" }
	%section.chitblock
		%label{ name: 'password' }
			Password:
		%input{ name: 'password', type: 'password', placeholder: 'please enter your password' }
	%section.chitblock
		%label{ name: 'password_confirmation' }
			Please confirm your password:
		%input{ name: 'password_confirmation', type: 'password', placeholder: 'just type it again to make sure' }
	%section.chitblock
		%input{ type: 'submit', value: 'Join Chitter' }
