%h2 Sign in to Chitter
%form{ method: 'POST', action: '/users' }
	%input{ name: 'username', type: 'text' }
	%input{ name: 'email', type: 'text' }
	%input{ name: 'password', type: 'password' }
	%input{ name: 'password_confirmation', type: 'password' }
	%input{ type: 'submit', value: 'Join Chitter' }
