%section.chitblock
	%form{ method: 'POST', action: '/chits' }
		%input{ type: 'text', name: 'chit_content', placeholder: "(chit goes here #{current_user.username})" }
	-#%section.chitblock
		-#%input{ type: 'submit', value: 'Chit Away' }
