!!!
%html
	%head
		%link{ href: '/css/css_reset.css', rel: 'stylesheet', type: 'text/css' }
		%link{ href: '/css/stylesheet.css', rel: 'stylesheet', type: 'text/css' }
		%link{ href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css'}
	%body
		= partial :"partials/header"
		%main
		=yield
